.image-item {
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-img {
  background-color: transparent;
  border: 0;
}
.thumbnail {
  width: 100px;
  height: 100px;
  opacity: 0.5;
  border-radius: 20px;
}

.active {
  opacity: 1;
}
